<div class="row">
	<div class="col-6">
		<table class="table">
			<thead>
				<tr>
					<th>Sr.No</th>
					<th>Name</th>
					<th>Email</th>
					<th>Contact</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of userList;let i=index">
					<td>{{user.id}}</td>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.contact}}</td>
					<td>
						<span>
							<input type="button" class="btn btn-success" value="Edit" (click)="editUser(user.id,i)"/>
						</span>
						<span>
							<input type="button" class="btn btn-success" value="Delete" (click)="deleteUser(i)"/>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col-6">
		<form [formGroup]="userForm">
			<div class="form-group col-md-6">
				<label>Sr.No.</label>
				<input type="text" class="form-control" formControlName="id" readonly="!isEdit"> 
			</div>
			<div class="form-group col-md-6">
				<label>Name</label>
				<input type="text" class="form-control" formControlName="name"> 
			</div>
			<div class="form-group col-md-6">
				<label>Email</label>
				<input type="text" class="form-control" formControlName="email"> 
			</div>
			<div class="form-group col-md-6">
				<label>Contact</label>
				<input type="text" class="form-control" formControlName="contact"> 
			</div>
			<div class="form-group">
				
				<button class="btn btn-success" (click)="editOrAdd()"> {{ isEdit ? 'Edit':'Add'}} </button>
			</div>
		</form>
	</div>
	</div>